parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with class\-string\<static\(Foxen\\LaravelModelActivityLog\\Tests\\Fixtures\\SoftDeletingPost\)\> and ''restored'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Fixtures/SoftDeletingPost.php
